.form-group {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }

    &:has(> .group-info > ul) {
        .group-widget {
            border-color: $danger;
        }
    }

    .group-widget {
        position: relative;
        padding: 0.5rem;
        border: 1px solid $primary;
        border-radius: 0.5rem;

        &:has(:invalid) {
            border-color: $danger;
        }

        &:has(:valid) {
            border-color: $success;
        }

        .item {
            @include displayGrid(35% 35% 1fr, 0.5rem);
            align-items: center;

            & > span {
                box-sizing: border-box;
                padding: 0.5rem 1rem;
                width: 100%;
            }

            .actions {
                @include displayFlex(null, center, 0.25rem);

                @import "../../components/form/button";
            }
        }

        @import "../../components/form/label";
        @import "../../components/form/control";
        @import "../../components/form/radio_card";
        @import "../../components/form/suggestions";
    }

    .group-info {
        @import "../../components/form/help";
        @import "../../components/form/error";
    }
}
