<form action="" class="app-form">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Vos Localisations</legend>

        <div class="form-group">
            <div class="group-widget">
                <label class="form-label">Enregistrées</label>
                <div class="item">
                    <span>Maison</span>
                    <span>Gouzon</span>
                    <div class="actions">
                        <input type="radio" name="current" id="current-1" class="form-control"/>
                        <button type="button" class="form-button text-danger">
                            {{ ux_icon('fa7-solid:trash-alt', {'class': 'app-icon'}) }}
                        </button>
                    </div>
                </div>
                <div class="item">
                    <span>Sophie</span>
                    <span>Montluçon</span>
                    <div class="actions">
                        <input type="radio" name="current" id="current-2" class="form-control" checked="checked"/>
                        <button type="button" class="form-button text-danger">
                            {{ ux_icon('fa7-solid:trash-alt', {'class': 'app-icon'}) }}
                        </button>
                    </div>
                </div>
                <div class="item">
                    <span>Travail</span>
                    <span>Paris</span>
                    <div class="actions">
                        <input type="radio" name="current" id="current-3" class="form-control"/>
                        <button type="button" class="form-button text-danger">
                            {{ ux_icon('fa7-solid:trash-alt', {'class': 'app-icon'}) }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="group-widget">
                <label for="name" class="form-label">Ajouter</label>
                <div class="app-grid two">
                    <input type="text" name="name" id="add" class="form-control" placeholder="Label" required/>
                    <input type="text" name="address" id="add-address" class="form-control" placeholder="Adresse" required/>
                </div>
                <input type="hidden" name="add[placeId]"/>
                <input type="hidden" name="add[lat]"/>
                <input type="hidden" name="add[lng]"/>
                <input type="hidden" name="add[formatted]"/>
                <input type="hidden" name="add[locality]"/>
                <input type="hidden" name="add[country]"/>
            </div>
        </div>
    </fieldset>

    <fieldset class="form-fieldset controls">
        <button type="submit" class="form-submit">Ajouter</button>
    </fieldset>
</form>
