.form-control {
    box-sizing: border-box;
    padding: 0.5rem 0.5rem 0.25rem;
    width: 100%;
    font-family: $font-primary;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
}
