&.app-covers {
    margin-bottom: 0.5rem;

    .app-grid {
        overflow-y: auto;
        gap: 0.5rem;
        margin-top: 0.5rem;
        padding: 0 0.75rem 0 0.5rem;
        max-height: 24dvh;
    }

    .app-cover {
        position: relative;
        height: 15dvh;

        input[type="radio"] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            appearance: none;
            -webkit-appearance: none;

            &:checked + img {
                border-color: $secondary;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 0.25rem solid transparent;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }
}
