.form-label {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: $primary;
    background-color: $white;

    &:after {
        content: " ";
        font-size: 1rem;
        font-weight: bold;
        color: transparent;
    }

    &.required {
        &:after {
            content: "*";
            font-size: 1rem;
            font-weight: bold;
            color: $danger;
        }
    }
}
