.form-submit {
    box-sizing: border-box;
    @include displayFlex(center, center);
    padding: 0.5rem 1rem;
    width: 100%;
    font-family: $font-primary;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $fourth;
    border-color: $secondary;
    background-color: $secondary;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba($black, 0.5);
    cursor: pointer;

    &:active {
        box-shadow: inset 1px 1px 2px rgba($black, 0.85);
    }
}
