<div class="app-pagination">
    <div class="left">
        <a href="#" class="button">
            {{ ux_icon('line-md:chevron-double-left', {'class': 'app-icon'}) }}
        </a>
        <a href="#" class="button">
            {{ ux_icon('line-md:chevron-left', {'class': 'app-icon'}) }}
        </a>
    </div>

    <div class="center">
        <a href="#" class="button">1</a>
        <a href="#" class="button">2</a>
        <a href="#" class="button active">3</a>
        <a href="#" class="button">4</a>
        <a href="#" class="button">5</a>
    </div>

    <div class="right">
        <a href="#" class="button">
            {{ ux_icon('line-md:chevron-right', {'class': 'app-icon'}) }}
        </a>
        <a href="#" class="button">
            {{ ux_icon('line-md:chevron-double-right', {'class': 'app-icon'}) }}
        </a>
    </div>
</div>
