.app-modal {
    .head {
        .title {
            color: $vault-primary;
        }
    }

    .body {
        ul {
            li {
                & > button {
                    color: $vault-secondary;
                    background-color: $white;

                    &.active {
                        color: $white;
                        background-color: $vault-fourth;
                    }
                }
            }
        }
    }

    .foot {
        & > div {
            & > button {
                color: $white;
                background-color: $vault-secondary;

                &.active {
                    color: $white;
                    background-color: $vault-fourth;
                }
            }
        }
    }
}
