.app-pagination {
    @include displayFlex(space-between, center, 0.5rem);
    padding: 1rem 0 0;

    .left,
    .right {
        @include displayFlex(center, center, 0.5rem);
    }

    .center {
        @include displayFlex(center, center, 0.75rem);
    }

    .button {
        @include displayFlex(center, center);
        aspect-ratio: 1 / 1;
        padding: 0.25rem;
        font-size: 1.25rem;
        color: $vault-primary;
        background-color: transparent;
        border: none;
        border-radius: 50%;

        &.active {
            font-weight: bold;
            color: $vault-fourth;
        }

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }

        .app-icon {
            font-size: 1.25rem;
        }
    }
}
