<footer class="app-section headline">
    <div class="app-links">
        <p class="moment">Un vendredi après-midi d'hiver à la maison…</p>
        <a href="#">
            {{ ux_icon('material-symbols:playlist-play', {'class': 'app-icon'}) }}
            Playlists
        </a>
        <a href="#" class="active">
            {{ ux_icon('fa7-solid:peace', {'class': 'app-icon'}) }}
            Doux
        </a>
    </div>
</footer>
