<footer class="app-section headline">
    <div class="app-links">
        <p class="moment">Un vendredi après-midi d'hiver à la maison…</p>
        <button
            type="button"
            data-controller="modal--modal-opener"
            data-modal--modal-opener-modal-value="#app-modal"
            data-modal--modal-opener-variant-value="picker"
            data-modal--modal-opener-title-value="Sélectionnez une playlist"
            data-modal--modal-opener-body-url-value="{{ path('modal_playlists', { initial: currentPlaylistId|default('') }) }}"
            data-modal--modal-opener-footer-html-value='
    <button type="button" data-action="modal--modal#close">Annuler</button>
    <button type="button" data-primary disabled data-action="modal--mood-picker#confirm" class="bg-success">Valider</button>
  '
            data-action="click->modal--modal-opener#open"
        >
            {{ ux_icon('material-symbols:playlist-play', {'class': 'app-icon'}) }}
            Playlists
        </button>
        <button
            type="button"
            class="active"
            data-controller="modal--modal-opener"
            data-modal--modal-opener-modal-value="#app-modal"
            data-modal--modal-opener-variant-value="picker"
            data-modal--modal-opener-title-value="Choisissez votre mood"
            data-modal--modal-opener-body-url-value="{{ path('modal_moods', { initial: currentMoodId|default('') }) }}"
            data-modal--modal-opener-footer-html-value='
    <button type="button" data-action="modal--modal#close">Annuler</button>
    <button type="button" data-primary disabled data-action="modal--mood-picker#confirm" class="bg-success">Valider</button>
  '
            data-action="click->modal--modal-opener#open"
        >
            {{ ux_icon('fa7-solid:heart', {'class': 'app-icon'}) }}
            Doux
        </button>

    </div>
</footer>
