h1 {
    @include displayFlex(center, center);
    margin-top: 0.75rem;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba($black, 0.15);

    & > img {
        width: 1.75rem;
    }
}

h2 {
    margin-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

p {
    margin: 0 0 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

small {
    font-size: 0.85em;
}
