{% extends '_layout/vault/_index.html.twig' %}

{% block title %}Nouveau disque{% endblock %}

{% block main %}
    <section class="app-section headline">
        <p>Ajouter un disque</p>
    </section>

    <main class="app-main">

    </main>
{% endblock %}
