{% extends '_layout/vault/_index.html.twig' %}

{% block title %}Nouveau disque{% endblock %}

{% block main %}
    <section class="app-section headline">
        …
    </section>

    <main class="app-main">
        {% include "vault/collection/add/_form.html.twig" %}
    </main>
{% endblock %}
