/* BACKGROUND COLORS */
.bg-success {
    color: $white !important;
    background-color: $success !important;
}

.bg-danger {
    color: $white !important;
    background-color: $danger !important;
}

/* ACTIONABLE */
*[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.25;
    color: $white !important;
    background-color: $black !important;
}
