/* BACKGROUND COLORS */
.bg-info {
    color: $white !important;
    background-color: $info !important;
}

.bg-success {
    color: $white !important;
    background-color: $success !important;
}

.bg-danger {
    color: $white !important;
    background-color: $danger !important;
}

/* text COLORS */
.text-info {
    color: $info !important;
}

.text-success {
    color: $success !important;
}

.text-danger {
    color: $danger !important;
}

/* ACTIONABLE */
*[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.25;
    color: $white !important;
}
