/* BACKGROUND COLORS */
.bg-info {
    color: $white !important;
    background-color: $info !important;
}

.bg-success {
    color: $white !important;
    background-color: $success !important;
}

.bg-warning {
    color: $white !important;
    background-color: $warning !important;
}

.bg-danger {
    color: $white !important;
    background-color: $danger !important;
}

/* text COLORS */
.text-info {
    color: $info !important;
}

.text-success {
    color: $success !important;
}

.text-warning {
    color: $warning !important;
}

.text-danger {
    color: $danger !important;
}

/* VISIBILITY */
*[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.25;
    color: $white !important;
}

*[hidden] {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* INFOS */
.no-result {
    margin: 0.25rem 0;
    padding: .5rem .5rem;
    color: $primary;
    font-size: .85rem;
    font-style: italic;

    &:has(.app-icon) {
        text-align: center;

        .app-icon {
            font-size: 20dvw;
            color: $primary;
            opacity: 0.25;
        }
    }
}
