/* FONTS */
$font-primary: "Atkinson Hyperlegible", sans-serif;
$font-secondary: "Atkinson Hyperlegible", sans-serif;

/* COLORS */
$black: #111111;
$white: #ffffff;

$info: #0f5494;
$success: #118111;
$warning: #cc640f;
$danger: #f44336;

$primary: #0b1f2a;
$secondary: #d8894a;
$third: #f5eedc;
$fourth: #fff8f0;

$flow-primary: #1c1c1e;
$flow-secondary: #a88acc;
$flow-third: #f7f3eb;
$flow-fourth: #dcc79c;

$vault-primary: #2a4c54;
$vault-secondary: #e4c17a;
$vault-third: #fff3e6;
$vault-fourth: #cc735a;

/* MISC */
$displayMaxWidth: 380px;
