.app-feedback {
    position: fixed;
    z-index: 2147483646;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 2px rgba($black, 0.85);
    will-change: opacity, transform;
    transition: opacity 0.15s ease-out, visibility 0s linear 0.15s, color 0.3s ease-out, border-color 0.3s ease-out;

    &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.15s ease-out;
    }

    $safe-top: env(safe-area-inset-top, 0px);
    $safe-left: env(safe-area-inset-left, 0px);
    $safe-right: env(safe-area-inset-right, 0px);

    &.top {
        top: calc(13dvh + #{$safe-top});
        left: 50%;
        transform: translateX(-50%);
        @include displayFlex(null, center, 0.25rem);

        @include respondTo(md) {
            max-width: calc(#{$displayMaxWidth} - 1rem);
        }
    }

    &.left {
        left: calc(1.5rem + #{$safe-left});
        top: 50%;
        transform: translateY(-50%);
        @include displayFlex(null, center, 0.25rem);

        .app-icon {
            transform: rotate(-90deg);
        }

        @include respondTo(md) {
            left: calc(max(0px, (100vw - #{$displayMaxWidth}) / 2) + .5rem);
            max-width: calc(#{$displayMaxWidth} - 1rem);
        }
    }

    &.right {
        right: calc(1.5rem + #{$safe-right});
        top: 50%;
        transform: translateY(-50%);
        @include displayFlex(flex-end, center, 0.25rem, row-reverse);

        .app-icon {
            transform: rotate(90deg);
        }

        @include respondTo(md) {
            right: calc(max(0px, (100vw - #{$displayMaxWidth}) / 2) + .5rem);
            max-width: calc(#{$displayMaxWidth} - 1rem);
        }
    }

    &[disabled] {
        color: rgba($black, 0.5) !important;
        border-color: rgba($black, 0.5) !important;
    }

    .app-icon {
        font-size: 1rem;
    }
}
