.app-form {
    .app-grid {
        @include displayGrid(repeat(2, 1fr), 1rem);
        overflow-y: initial !important;
        max-height: none !important;
        padding: 0 !important;
    }

    .form-fieldset {
        margin-bottom: 2rem;

        .form-legend {
            margin-bottom: 1.5rem;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            color: $primary;
        }
    }

    .form-group {
        position: relative;
        margin-bottom: 2rem;
        padding: 0.5rem;
        border: 1px solid $primary;
        border-radius: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        &:has(>ul),
        &:has(.help) {
            margin-bottom: 2.5rem;
        }

        .form-label {
            position: absolute;
            top: -0.6rem;
            left: 1rem;
            padding: 0 0.25rem;
            font-size: 0.75rem;
            text-transform: uppercase;
            color: $primary;
            background-color: $white;

            &:after {
                content: " ";
                font-size: 1rem;
                font-weight: bold;
                color: transparent;
            }

            &.required {
                &:after {
                    content: "*";
                    font-size: 1rem;
                    font-weight: bold;
                    color: $danger;
                }
            }
        }

        .form-control {
            box-sizing: border-box;
            padding: 0.5rem 1rem;
            width: 100%;
            font-family: $font-primary;
            font-size: 1rem;
            border: none;
            background-color: transparent;
            outline: none;
        }

        .moods {
            @include displayFlex(space-around, center, null, 1rem);
            margin: 0.5rem 1rem;

            span {
                i,
                svg {
                    font-size: 1.25rem;
                }
            }
        }

        .help {
            position: absolute;
            bottom: -1rem;
            right: 0.5rem;
            left: 0.5rem;
            text-align: left;
            font-style: italic;
            color: $primary;
        }

        ul {
            position: absolute;
            bottom: -2rem;
            right: 0.5rem;
            left: 0.5rem;
            text-align: left;
            font-size: 0.75rem;
            font-style: italic;
            color: $danger;
        }
    }

    .help {
        font-size: 0.75rem;
        text-align: center;
        color: $primary;
    }

    .form-checkbox {
        display: block;
        margin: -1rem 0 2rem;
        padding: 0 0.25rem;
        font-size: 0.75rem;

        input[type="checkbox"] {
            -webkit-appearance: checkbox;
            vertical-align: middle;
        }
    }

    .form-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 0.5rem 1rem;
        width: 100%;
        font-family: $font-primary;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: $fourth;
        border-color: $secondary;
        background-color: $secondary;
        border-radius: 0.5rem;
        box-shadow: 1px 1px 2px rgba($black, 0.5);
        cursor: pointer;

        &:active {
            box-shadow: inset 1px 1px 2px rgba($black, 0.85);
        }
    }
}
