.app-grid {
    @include displayGrid(1fr);

    &.two {
        @include displayGrid(repeat(2, 1fr), 1rem);
    }

    &.third {
        &.reverse {
            @include displayGrid(4rem 1fr, 1rem);
        }
    }
}
