.app-header {
    @include displayGrid(4rem 1fr 4rem, 0.5rem);
    align-items: center;
    padding: 0.25rem 0.25rem 0;

    .left,
    .right {
        @include displayFlex(center, center, 0.5rem);

        & > a {
            display: block;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 0.25rem solid transparent;
            text-shadow: 1px 1px 2px rgba($black, 0.05);

            & > img {
                display: block;
                margin: 0 auto 0.25rem;
                width: 2.5rem;
            }

            & > .app-icon {
                font-size: 2rem;
            }
        }
    }

    .app-sitename {
        @include displayFlex(space-between, center, null, column);
        height: 100%;

        .app-account {
            border-bottom: 0.25rem solid transparent;
        }

        & > p {
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
