::-webkit-scrollbar {
    width: 0.35rem;
    height: 0.35rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $secondary;
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary;
}

html {
    overflow: hidden;
    max-width: $displayMaxWidth;
    background-color: $black;

    @include respondTo(md) {
        margin: 0 auto;
    }

    .turbo-progress-bar {
        height: 0.5rem;
        background-color: $secondary;
        border-bottom-right-radius: 0.25rem;

        @include respondTo(md) {
            position: fixed;
            top: 0;
            left: max(0px, (100vw - $displayMaxWidth) / 2);
            right: max(0px, (100vw - $displayMaxWidth) / 2);
            z-index: 10001;
            width: calc(100vw - 2 * max(0px, (100vw - $displayMaxWidth) / 2));
            max-width: $displayMaxWidth;
            transform-origin: left center !important;
        }
    }

    body {
        overflow: hidden;
        height: 100dvh;
        font-family: $font-primary;
        color: $black;
        background-color: $white;

        @include respondTo(xs) {
            width: 100dvw;
        }

        @import "./header";
        @import "./main";
        @import "./section";

        @import "../themes/default";

        &.flow {
            @import "../themes/flow";
        }

        &.vault {
            @include displayFlex(null, null, null, column);
            @import "../themes/vault";
        }

        &.profile {
            @include displayFlex(null, null, null, column);
            @import "../themes/profile";
        }
    }
}
