html {
    overflow: hidden;
    max-width: 380px;
    background-color: $black;

    @include respondTo(md) {
        margin: 0 auto;
    }

    .turbo-progress-bar {
        height: 0.5rem;
        background-color: $success;
        border-bottom-right-radius: 0.25rem;
    }

    body {
        overflow: hidden;
        height: 100dvh;
        font-family: $font-primary;
        color: $black;
        background-color: $white;

        @include respondTo(xs) {
            width: 100dvw;
        }

        @import "./header";
        @import "./main";
        @import "./section";

        @import "../themes/default";

        &.flow {
            @import "../themes/flow";
        }

        &.vault {
            @include displayFlex(null, null, null, column);
            @import "../themes/vault";
        }

        &.profile {
            @include displayFlex(null, null, null, column);
            @import "../themes/profile";
        }
    }
}
