html {
    overflow: hidden;
    max-width: $displayMaxWidth;
    background-color: $black;

    @include respondTo(md) {
        margin: 0 auto;
    }

    .turbo-progress-bar {
        position: fixed;
        top: 0;
        left: max(0px, (100vw - $displayMaxWidth) / 2);
        right: max(0px, (100vw - $displayMaxWidth) / 2);
        width: calc(100vw - 2 * max(0px, (100vw - $displayMaxWidth) / 2));
        max-width: $displayMaxWidth;
        height: 0.5rem;
        z-index: 10001;
        background-color: $secondary;
        border-bottom-right-radius: 0.25rem;
        transform-origin: left center !important;
    }

    body {
        overflow: hidden;
        height: 100dvh;
        font-family: $font-primary;
        color: $black;
        background-color: $white;

        @include respondTo(xs) {
            width: 100dvw;
        }

        @import "./header";
        @import "./main";
        @import "./section";

        @import "../themes/default";

        &.flow {
            @import "../themes/flow";
        }

        &.vault {
            @include displayFlex(null, null, null, column);
            @import "../themes/vault";
        }

        &.profile {
            @include displayFlex(null, null, null, column);
            @import "../themes/profile";
        }
    }
}
