.app-header {
    min-height: 5.5rem;

    & > a {
        display: block;
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 0.25rem solid transparent;
        text-shadow: 1px 1px 2px rgba($black, 0.05);

        & > img {
            display: block;
            margin: 0 auto 0.25rem;
            width: 2.5rem;
        }

        & > .app-icon {
            font-size: 2rem;
        }
    }

    .app-sitename {
        .app-links {
            & > a {
                color: $primary;
            }
        }

        .app-account {
            & > a {
                color: $secondary;
            }
        }
    }
}
