.app-section {
    &.headline {
        margin-top: 0.5rem;

        .app-links {
            & > a,
            & > button {
                color: $danger;
                background-color: $white;
                box-shadow: none;
            }
        }
    }
}
