.app-modal {
    .head {
        .title {
            color: $primary;
        }
    }

    .foot {
        & > div {
            & > button {
                color: $secondary;
                background-color: $fourth;
            }
        }
    }
}
