h2 {
    color: $primary;
    text-shadow: 1px 1px 1px rgba($white, 0.5);
}

h3 {
    color: $primary;

    & > a {
        color: $secondary;
        text-shadow: 1px 1px 1px rgba($white, 0.5);
    }
}
