{% extends '_layout/vault/_index.html.twig' %}

{% block title %}Nouveau disque{% endblock %}

{% block main %}
    <main class="app-main">
        {% include "vault/collection/create/_form.html.twig" %}
    </main>
{% endblock %}
