<section class="app-section headline">
    <div class="app-links">
        <a href="{{ path('app_login') }}" class="text-info">
            <small>Déjà inscrit ?</small>
            Connectez-vous
        </a>
    </div>
</section>
